{% extends "base_menu.html" %}
{% block content %}
    <h1>Delete ad</h1>

    <p>Are you sure you want to delete the ad: {{ ad }}?</p>

    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Yes, delete.">
    </form>
{% endblock %}
