{% extends "base_menu.html" %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/humanize -->
{% block head %}
    <style>
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            display: none;
            background-color: rgba(0, 0, 0, 0.5); /*dim the background*/
        }
    </style>
{% endblock %}
{% block content %}
    {% if ad.content_type %}
        <div id="overlay" class="overlay" style="text-align: center;"
             onclick="document.getElementById('overlay').style.display = 'none';">
            <img style="width:90%;margin-top: 50px; border:3px solid black;" src="{% url 'ads:ad_picture' ad.id %}">
        </div>
    {% endif %}

    <span style="float: right;">
({{ ad.updated_at|naturaltime }})

        {% if ad.owner == user %}
            <a href="{% url 'ads:ad_update' ad.id %}"><i class="fa fa-pencil"></i></a>
            <a href="{% url 'ads:ad_delete' ad.id %}"><i class="fa fa-trash"></i></a>
        {% endif %}

</span>
    <h1>{{ ad.title }}</h1>

    {% if ad.content_type %}
        <img style="float:right; max-width:50%;" src="{% url 'ads:ad_picture' ad.id %}"
             onclick="document.getElementById('overlay').style.display = 'block';">
    {% endif %}

    <p>
        {{ ad.text }}
    </p>
    <p>
        {{ ad.price }}
    </p>
    <p>
        <a href="{% url 'ads:all' %}">All ads</a>
    </p>
    {% if user.is_authenticated %}
        <br clear="all"/>
        <p>
            {% load crispy_forms_tags %}
        <form method="post" action="{% url 'ads:ad_comment_create' ad.id %}">
            {% csrf_token %}
            {{ comment_form|crispy }}
            <input type="submit" value="Submit">
            <input type="submit" value="All Forums" onclick="window.location.href='{% url 'ads:all' %}';return false;">
        </form>
        </p>
    {% endif %}
    {% for comment in comments %}
        <p> {{ comment.text }}
            ({{ comment.updated_at|naturaltime }})
            {% if user == comment.owner %}
                <a href="{% url 'ads:ad_comment_delete' comment.id %}"><i class="fa fa-trash"></i></a>
            {% endif %}
        </p>
    {% endfor %}
{% endblock %}
