{% extends "base_menu.html" %}
{% block content %}
    <h1>ads</h1>
    <div style="float:right">
        <form>
            <input type="text" placeholder="Search.." name="search"
                    {% if search %} value="{{ search }}" {% endif %}
            >
            <button type="submit"><i class="fa fa-search"></i></button>
            <a href="{% url 'ads:all' %}"><i class="fa fa-undo"></i></a>
        </form>
    </div>
    <p>
        {% if ad_list %}
            <ul>
                {% for ad in ad_list %}
                    <li>


                        <a href="{% url 'ads:ad_detail'  ad.id %}">{{ ad.title }}</a>
                        {% if ad.owner == user %}
                            (<a href="{% url 'ads:ad_update' ad.id %}">Edit</a> |
                            <a href="{% url 'ads:ad_delete' ad.id %}">Delete</a>)
                        {% endif %}

                        {% if user.is_authenticated %}
                            <a href="#" onclick=
                                    "favPost('{% url 'ads:ad_unfavorite' ad.id %}', {{ ad.id }} );return false;"
                                    {% if ad.id not in favorites %} style="display: none;" {% endif %}
                               id="favorite_star_{{ ad.id }}">
        <span class="fa-stack" style="vertical-align: middle;">
        <i class="fa fa-star fa-stack-1x" style="color: orange;"></i>
        <i class="fa fa-star-o fa-stack-1x"></i>
        </span>
                            </a>
                            <a href="#" onclick=
                                    "favPost('{% url 'ads:ad_favorite' ad.id %}', {{ ad.id }} );return false;"
                                    {% if ad.id in favorites %} style="display: none;" {% endif %}
                               id="unfavorite_star_{{ ad.id }}">
        <span class="fa-stack" style="vertical-align: middle;">
        <i class="fa fa-star fa-stack-1x" style="display: none; color: orange;"></i>
        <i class="fa fa-star-o fa-stack-1x"></i>
        </span>
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No ads are available.</p>
        {% endif %}
    </p>
    <p>
        <a href="{% url 'ads:ad_create' %}">Add an ad</a> |
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}?next={% url 'ads:all' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}?next={% url 'ads:all' %}">Login</a>
        {% endif %}
    </p>
    <script>
        function favPost(url, thing_id) {
            console.log('Requesting JSON');
            $.post(url, {}, function (rowz) {
                console.log(url, 'finished');
                $("#unfavorite_star_" + thing_id).toggle();
                $("#favorite_star_" + thing_id).toggle();
            }).fail(function (xhr) {
                alert('Url failed with ' + xhr.status + ' ' + url);
            });
        }
    </script>
{% endblock %}
