{% extends "base_bootstrap.html" %}

{% block content %}

    <h1>Delete Make</h1>

    <p>Are you sure you want to delete the make: {{ make }}?</p>

    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Yes, delete.">
        <input type="submit" onclick="window.location='{% url 'autos:all' %}' ; return false;" value="Cancel">
    </form>

{% endblock %}
