<!DOCTYPE html>
<html>
<head>
    <!-- Edit dj4e-samples/settings.py and add APP_NAME = 'DJ4E Samples' or similar -->
    <title>{% block title %}{{ settings.APP_NAME }}{% endblock %}</title>

    <!-- Replace this value (42-42) with the one provided by the autograder -->
    <meta name="dj4e" content="48c4a756d0ce842a039b2ee9e3f05174">

    <meta name="dj4e-code" content="42159973173738">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css"
          crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"
            crossorigin="anonymous"></script>

    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/v4-shims.css">

    <meta name="dj4e-version" content="2020-03-26">

    {% block head %} {% endblock %}

</head>
<body>
<div class="container">
    {% block navbar %} {% endblock %}
    {% block welcome %} {% endblock %}
    {% block messages %}
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-{{ msg.level_tag }}" role="alert">
                    {{ msg.message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endblock %}
    {% block content %}
    {% endblock %}
</div>
{% block footer %} {% endblock %}
</body>
</html>
